.mxproject
*.icf
MDK-ARM/smartlock.uvgui.Corner
MDK-ARM/smartlock.uvgui.brivor
*.bak
MDK-ARM/smartlock.uvopt
MDK-ARM/smartlock.uvproj
*.iex
*.crf
*.d
*.o
*.axf
*.hex
*.htm
*.lnp
*.map
*.plg
*.sct
*.dep
*.lst
smartlock/MDK-ARM/smartlock.uvopt
smartlock/MDK-ARM/smartlock.uvproj
